<div class="container-fluid" style="width:100%;">
    <div class="row" style="flex-direction: column; height: 80vh;margin: auto;">
        <div class="d-flex userHeaderContainer"> My header</div>
        <!-- <div class="col align-items-center justify-content-space-between" style="height: 80vh;background-color:#bae6fd;flex-direction:column;
        border-radius: 0%; width: fit-content;"> -->
        <div class="col-12 thread-container-container">
            <app-message-thread-container></app-message-thread-container>
        </div>
        <!-- <div class="row" style="flex-direction: row; border:2px solid yellow; height: 25%;"> -->
        <div class="col-12 d-flex align-items-center justify-content-center" style="background-color: #ecfdf5; border: 3px solid green; height: 30%;">
            <app-prompt-component></app-prompt-component>
        </div>


        <!-- <app-prompt-component></app-prompt-component> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>