<div class="d-flex shadow-none  bg-white rounded" style="align-items:center;
 border: 0px solid orange; border-radius: 15px;background-color: inherit!important; ">
    <div class="col-10 align-items-center focusEffect"
        style="margin: 2%;border-radius:999px; border:0px solid blue;align-self: flex-end; background-color: white;  padding: 1%;">
        <p-selectButton [style]="{'font-size':'10px'}" [options]="currentOptions" formControlName="value"
            optionLabel="label" optionValue="value"></p-selectButton>
    </div>    
    <div class="col-2" style="padding:3%; align-items:center;">
        <p-button icon="pi pi-send" [rounded]="true"> </p-button>
    </div>
</div>