:host ::ng-deep .p-card .p-card-footer { 
    border: 2px solid red;
} 
:host ::ng-deep .p-button .p-button-label {
    font-weight: 700;
    font-size: small;
}
:host ::ng-deep .p-button {
    transform: scale(0.7);
}