:host ::ng-deep .p-card .p-card-footer {
    border: 2px solid red;
}

:host ::ng-deep .p-button .p-button-label {
    font-weight: 700;
    font-size: small;
}

:host ::ng-deep .p-button {
    transform: scale(0.7);
}

.focusEffect {
    /* From https://css.glass */
    background: white !important;
    border-radius: 999px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10.9px) !important;
    -webkit-backdrop-filter: blur(10.9px) !important;
    border: 1px solid rgba(220, 252, 231, 0.3) !important;
}

.focusEffect:hover {
    box-shadow: 2px 2px 2px 2px linear-gradient(to bottom, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%) !important;
}