<!-- <div class="col align-self-center" style="width: fit-content; background-color: #bbf7d0;margin-bottom: 3%; margin-right:auto ;margin-left:auto; border-radius: 5%;"> -->
<!-- <div class = "col d-flex justify-content-center align-items-center" > -->
<div class="d-flex align-items-center " style=" min-width: 100%; width: 0;border-radius: 25px 5px 25px 5px; background-color:  aquamarine; margin-bottom: 2px; margin-top: 1px;">
    <div class="col-10" >
        <p style="font-size: small; ">
            Lorem Ipsum is simply dummy tmply dummy text
            Lorem Ipsum is simply dummy tmply dummy text
            Lorem Ipsum is simply dummy tmply dummy text
        </p>
    </div>
    <div class="col-2">
        <label style="border-radius: 50%;background-color: white; padding:8px;"><i
                class="fa-solid fa-user-doctor"></i></label>
    </div>

</div>


<!-- </div> -->
<!-- <div class = "col d-flex justify-content-center">
    </div> -->
<!-- </div> -->