
<div class="row align-items-center justify-content-center" style="width: 330px; background-color: #bbf7d0;margin-bottom: 3%; margin-right:auto ;margin-left:auto; border-radius: 5%;">
    <div class = "col-9 d-flex justify-content-center" >
        <p style="font-size: small;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
             when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
    </div>
    <div class = "col d-flex justify-content-center">
        <label style="border-radius: 50%;background-color: white; padding:10px"><i class="fa-solid fa-user-doctor"></i></label>
    </div>
</div>
